<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AR-Electronics/css/style2.css">
    <title>glass_street_housing</title>
</head>

<body>
    <div class="navbar">
        <h3><a href="/AR-Electronics/index.html" style="color:black">
                << /a><span style="display: inline-block; margin-left: 2%;">List of items
                    </span></h3>
    </div>
    <div class="grid-container">
        <a href="/AR-Electronics/templates/sl1_sq_street_light_housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/sl1_sq1.jpeg" alt="SL1 SQ Street Light Housing">
                <div class="card-body">
                    <h5 class="card-title">SL1 SQ Street Light Housing</h5>
                    <p class="card-text">₹125 /piece</p>
                    <a href="/AR-Electronics/templates/sl1_sq_street_light_housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/sl2_sq_street_light_housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/sl2_sq_street_light.jpeg"
                    alt="SL2 SQ Street Light Housing">
                <div class="card-body">
                    <h5 class="card-title">SL2 SQ Street Light Housing</h5>
                    <p class="card-text">₹200 /piece</p>
                    <a href="/AR-Electronics/templates/sl2_sq_street_light_housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/sl3_housing_street_light_housing_product_details.html"
            class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/sl3_housing_street_light.jpg"
                    alt="SL3 Housing Street Light Housing">
                <div class="card-body">
                    <h5 class="card-title">SL3 Housing Street Light Housing</h5>
                    <p class="card-text">₹350 /piece</p>
                    <a href="/AR-Electronics/templates/sl3_housing_street_light_housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/sl1_rg_street_light_housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/sl1_rg_street_light.jpeg"
                    alt="SL1 RG Street Light Housing">
                <div class="card-body">
                    <h5 class="card-title">SL1 RG Street Light Housing</h5>
                    <p class="card-text">₹140 /piece</p>
                    <a href="/AR-Electronics/templates/sl1_rg_street_light_housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/sl2_rd_street_light_housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/sl2_rd_street_light.png"
                    alt="SL2 RD Street Light Housing">
                <div class="card-body">
                    <h5 class="card-title">SL2 RD Street Light Housing</h5>
                    <p class="card-text">₹225 /piece</p>
                    <a href="/AR-Electronics/templates/sl2_rd_street_light_housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
    </div>
</body>
</html>