<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/AR-Electronics/css/style5.css">
    <title>glass_street_housing</title>
</head>

<body>
    <div class="navbar">
        <h3><a href="/AR-Electronics/index.html" style="color:black">
                < </a><span style="display: inline-block; margin-left: 2%;">List of items
                    </span></h3>
    </div>
    <div class="grid-container">
        <a href="/AR-Electronics/templates/50w-led-floodlight-housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/50w-led-floodlight-housing.jpg"
                    alt="50W Slim Flood Housing">
                <div class="card-body">
                    <h5 class="card-title">50W Slim Flood Housing</h5>
                    <p class="card-text">₹250 /piece</p>
                    <a href="/AR-Electronics/templates/50w-led-floodlight-housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/100w-led-floodlight-housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/100w-led-floodlight-housing.jpg"
                    alt="100W Slim Flood Housing">
                <div class="card-body">
                    <h5 class="card-title">100W Slim Flood Housing</h5>
                    <p class="card-text">₹350 /piece</p>
                    <a href="/AR-Electronics/templates/100w-led-floodlight-housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/150w-led-floodlight-housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/150w_slim_flood_light.jpg"
                    alt="150W Slim Flood Housing">
                <div class="card-body">
                    <h5 class="card-title">150W Slim Flood Housing</h5>
                    <p class="card-text">₹650 /piece</p>
                    <a href="/AR-Electronics/templates/150w-led-floodlight-housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/200w-led-floodlight-housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/200w-slimline-flood-light.jpg"
                    alt="200W Slim Flood Housing">
                <div class="card-body">
                    <h5 class="card-title">200W Slim Flood Housing</h5>
                    <p class="card-text">₹700 /piece</p>
                    <a href="/AR-Electronics/templates/200w-led-floodlight-housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
        <a href="/AR-Electronics/templates/30w-led-floodlight-housing_product_details.html" class="product_details">
            <div class="card">
                <img class="card-img-top" src="/AR-Electronics/img/30w_slim_flood_light.jpeg"
                    alt="30W Slim Flood Housing">
                <div class="card-body">
                    <h5 class="card-title">30W Slim Flood Housing</h5>
                    <p class="card-text">₹225 /piece</p>
                    <a href="/AR-Electronics/templates/30w-led-floodlight-housing.html" class="btn">ADD TO BAG</a>
                </div>
            </div>
        </a>
    </div>
</body>

</html>